{% extends 'nova_core/base.html' %}

{% block content %}

<h1 class="display-5 text-center mb-5">EAR Users - User Details</h1>


<div class="container">
  <div class="row text-center">
    <a class="btn btn-secondary btn-lg my-2" href='/enquiries/user_panel'>Back to User Overview</a>
  </div>
  <div class="table-responsive-xl m-5">
    <table class="table table-sm table-bordered table-hover">
        <tr class="text-center">
          <th>Username</th>
          <td>{{ user.username }}</td>
        </tr>
        <tr class="text-center">
          <th>Email</th>
          <td>{{ user.email }}</td>
        </tr>
        <tr class="text-center">
          <th>Primary Team</th>
          <td>{% for x in user.user_primary.all %}{{ x.primary_team.team_name }}{% endfor %}</td>
        </tr>
        <tr class="text-center">
          <th>Primary Status</th>
          <td>{% for x in user.user_primary.all %}{{ x.primary_status }}{% endfor %}</td>
        </tr>

    </table>
  </div>

  <div class="container">
    <div class="row text-center m-3">
    <div class="col-lg-3 align-self-center"></div>
    <div class="col-lg-6 align-self-center">
        <button type="submit" title="Update" class="btn btn-success btn-lg my-4" style="width:300px"
        data-bs-toggle="modal" data-bs-target="#exampleModal{{ task.enquiry_id.enquiry_id }}">Update User</button>
    </div>
  
  
  
        <div class="modal fade" id="exampleModal{{ task.enquiry_id.enquiry_id }}" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{% url 'update_user' %}" class="text-left">
                        <input name="username" id="username" value="{{ user.username }}" type="hidden" class="form-control">
                        <div>{{ user.username }}</div>
                        <br>
                        <label for="message-text" class="col-form-label">Primary Team:</label>
                        <select name="pteam" id="pteam" class="form-select">
                          {% for x in teams %}
                          <option >{{ x.team_name }}</option>
                          {% endfor %}
                        </select>
                        <br>
                        <label for="message-text" class="col-form-label">Access Level:</label>
                        <select name="access" id="access" class="form-select">
                          <option selected>AD</option>
                          <option>TL</option>
                          <option>CO</option>
                        </select>
                        <div class="mb-5">
                        
                    </div>
                    <button type="submit" title="Pass" class="btn btn-outline-primary" style="width:150px" data-bs-dismiss="modal">Continue</button>
                </form>
                </div>
            </div>
        </div>
    </div>
  
  
    <div class="col-lg-3 align-self-center"></div>
  </div>  

  <div class="table-responsive-xl m-5">
      <table class="table table-sm table-bordered table-hover">
          <tr class="text-center">
            <th>Team</th>
            <th>Change Access</th>

          </tr>
          {% for x in teams %}
            {% if x.team_name != primary_team %}
            <tr class="text-center">
              <td>{{ x.team_name }}</td>
              <td><form method="POST" action="{% url 'user_change_secondary' %}" class="text-center">
                <input name="userid" id="userid" value="{{ user.id }}" type="hidden" class="form-control">
                <input name="sec_team" id="sec_team" value="{{ x.team_name }}" type="hidden" class="form-control">
                  {% if x.team_name in team_list %}
                    <button type="submit" class="btn btn-outline-danger" style="width:200px">Withdraw</button>
                    <input name="type" id="type" value="withdraw" type="hidden" class="form-control">
                  {% else %}
                    <button type="submit" class="btn btn-outline-success" style="width:200px">Enroll</button>
                    <input name="type" id="type" value="enroll" type="hidden" class="form-control">
                  {% endif %}
              </form></td>
            </tr>
            {% endif %}
          {% endfor %}
          
      </table>
  </div>
</div>
{% endblock %}