{% extends 'nova_core/base.html' %}

{% block content %}

<h1 class="display-5 text-center mb-5">EAR - User Task List</h1>

    <div class="table-responsive-xl m-5">
        <table class="table table-sm table-bordered table-hover">
            <tr class="text-center">
              <th>Enquiry ID</th>
              <th>Script ID</th>
              <th>Session Name</th>
              <th>Batch ID</th>
              <th>Task Type</th>
              <th>Task Creation Date</th>
              <th>Task Owner</th>
              <th>Task Assignment Date</th>
              <th colspan="2">Assignment</th>
            </tr>
            {% for x in cer %}
                {% for y in x.script_tasks.all %}
                  {% if y.task_assigned_to.id == original_user %}
                      <tr class="text-center">
                        <td><a href='/enquiries/enquiries_detail/{{ y.ec_sid.erp_sid.cer_sid.enquiry_id }}'>{{ y.ec_sid.erp_sid.cer_sid.enquiry_id }}</a></td> 
                        <td>{{ y.ec_sid.ec_sid }}</td>
                        <td>{{ x.eps_ses_name }}</td>
                        {% for s in x.script_id.all %}<td>{{ s.eb_sid.eb_sid }}</td>{% empty %}<td>None</td>{% endfor %}
                        <td>{{y.task_id.task_id}}</td>
                        <td>{{ y.task_creation_date }}</td>
                        <td>{{ y.task_assigned_to }}</td>
                        <td>{{ y.task_assigned_date }}</td>
                        <td><form method="POST" action="{% url 'self-assign-task' task_id=y.id %}" class="text-center">
                            <input name="page_location" id="page_location" value="task_assignment" type="hidden" class="form-control">
                            {% if request.user.username == y.task_assigned_to.username %}
                              <button disabled type="submit" class="btn btn-outline-secondary" style="width:130px">Assign to Me</button>
                            {% else %}
                              <button type="submit" class="btn btn-outline-primary" style="width:130px">Assign to Me</button>
                            {% endif %}
                        </form></td>
                        <td><form method="POST" action="{% url 'assign-task-user' task_id=y.id  user_id=original_user %}" class="text-center">
                          <input name="page_location" id="page_location" value="task_assignment" type="hidden" class="form-control">
                          <button type="submit" class="btn btn-outline-warning" style="width:130px">Assign to User</button>
                        </form></td>
                      </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>

    <h2 class="text-center">Task Completion history</h2>

    <div class="table-responsive-xl m-5">
      <table class="table table-sm table-bordered table-hover">
        <tr class="text-center">
          <th>Enquiry ID</th>
          <th>Script ID</th>
          <th>Session Name</th>
          <th>Batch ID</th>
          <th>Task Type</th>
          <th>Task Creation Date</th>
          <th>Task Owner</th>
          <th>Task Assignment Date</th>
          <th>Task Completion Date</th>
        </tr>
        {% include 'enquiries/htmx_partials/user_task_history.html' %}
      </table>
    </div>


{% endblock %}