{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
    

    {% compress css %}
        <link href="{% static 'admin/css/custom.scss' %}" rel="stylesheet" type="text/x-scss">
    {% endcompress %}
    <script type="text/javascript">
        function preventBack() {
            window.history.forward(); 
        }
          
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };
    </script>
    <title>Nova</title>
    <link rel="icon" type="image/x-icon" href="{% static 'admin/img/favicon.ico' %}">
</head>
<body style="background-color:#ffffff;" onload="javascript:setTimeout(function(){ location.reload(); },60000);">
    {% include 'nova_core/base_navbar.html' %}


    <div class="row text-center my-5">
      <h3>You do not currently have a team or access rights assigned. Please contact the service administrator.</h3>
    </div>
</body>
</html>