{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>

    {% compress css %}
        <link href="{% static 'admin/css/custom.scss' %}" rel="stylesheet" type="text/x-scss">
    {% endcompress %}
    <script type="text/javascript">
        function preventBack() {
            window.history.forward(); 
        }
          
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };
    </script>
    <title>Nova</title>
    <link rel="icon" type="image/x-icon" href="{% static 'admin/img/favicon.ico' %}">
</head>
<body style="background-color:#ffffff;">
  {% include 'nova_core/base_navbar.html' %}



<div class="row mx-2">
  <div class="col text-center">
    <h2 class="display-3 mt-3 mb-5" style="color: rgb(150, 0, 0);">{{ session_desc }}</h2>
  </div>
</div>

<div class="row mx-2 text-center">
  <div class="col d-flex justify-content-center">
    <div class="card-group my-3">
      <div class="card shadow-lg" style="width: 18rem; ">
        <div class="card-header">
          <img class="card-img-top" src="{% static 'admin/img/mytask-icon.png' %}" alt="EAR Icon">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">My Tasks</h5>
          {% if mytask.count > 0 %}<span class="badge rounded-pill bg-primary">{{ mytask.count }} Tasks Assigned To Me</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
          <p class="card-text"> </p>
        </div>
        <div class="card-footer d-flex flex-column">
          <a href="{% url 'my_tasks' %}" class="mt-auto btn btn-outline-primary">Go to My Tasks</a>
        </div>
      </div>
      <div class="card shadow-lg" style="width: 18rem; ">
        <div class="card-header">
          <img class="card-img-top" src="{% static 'admin/img/search-icon.png' %}" alt="Search Icon">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Enquiry Search</h5>
          <p class="card-text"> </p>
        </div>
          <form class="row g-3" method="POST" action='/enquiries/enquiries_detail_search'>
            <div class="col d-flex flex-column justify-content-center w-75 mx-3">
              <input name="enquiry_id" id="enquiry_id" type="text" class="form-control" placeholder="Enquiry No.">
            </div>
            <div class="card-footer d-flex flex-column">
              <button type="submit" class="btn btn-outline-primary">Search</button>
            </div>
          </form>
        
      </div>
      <div class="card shadow-lg" style="width: 18rem; ">
        <div class="card-header">
          <img class="card-img-top" src="{% static 'admin/img/mytask-icon.png' %}" alt="EAR Icon">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Task Manager</h5>
          <p class="card-text">A list of tasks currently assigned to other users.</p>
        </div>
        <div class="card-footer d-flex flex-column">
          <a href="{% url 'user-list' %}" class="mt-auto btn btn-outline-primary">Go to Tasks</a>
        </div>
      </div>
      <div class="card shadow-lg" style="width: 18rem; ">
        <div class="card-header">
          <img class="card-img-top" src="{% static 'admin/img/mytask-icon.png' %}" alt="EAR Icon">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Account Management</h5>
          <p class="card-text">User setup and task control.</p>
        </div>
        <div class="card-footer d-flex flex-column">
          <a href="{% url 'user_panel' %}" class="mt-auto btn btn-outline-primary">Go to Panel</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mx-2 text-center">
  <div class="col d-flex justify-content-center">
    <div class="card-group my-3">
      <div class="card shadow-lg" style="width: 18rem; ">
        <div class="card-header">
          <img class="card-img-top" src="{% static 'admin/img/alpha-icon.png' %}" alt="Examiner availability Icon">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Alpha</h5>          
          <p class="card-text">Checks</p>
          <div id="alpha-pill-container" hx-get="{% url 'enquiries_home' %}" hx-trigger="every 3s" hx-swap="innerHTML">
              {% include 'enquiries/htmx_partials/alpha_pill_count.html' %}
          </div>

        </div>
        <div class="card-footer d-flex flex-column">
          <a href="{% url 'ear_home_view_team_alpha' %}" class="mt-auto btn btn-outline-primary">Go to Alpha</a>
        </div>
      </div>


      <div class="card shadow-lg" style="width: 18rem; ">
        <div class="card-header">
          <img class="card-img-top" src="{% static 'admin/img/gamma-icon.png' %}" alt="Examiner availability Icon">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Gamma</h5>
          <p class="card-text">Marking</p>
          {% if gamma_count.count > 0 %}<span class="badge rounded-pill bg-primary">{{ gamma_count.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
        </div>
        <div class="card-footer d-flex flex-column">
          <a href="{% url 'ear_home_view_team_gamma' %}" class="mt-auto btn btn-outline-primary">Go to Gamma</a>
        </div>
      </div>

      <div class="card shadow-lg" style="width: 18rem; ">
        <div class="card-header">
          <img class="card-img-top" src="{% static 'admin/img/delta-icon.png' %}" alt="IEC Icon">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Delta</h5>
          <p class="card-text">Hardcopy</p>
          {% if delta_count.count > 0 %}<span class="badge rounded-pill bg-primary">{{ delta_count.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
        </div>
        <div class="card-footer d-flex flex-column">
          <a href="{% url 'ear_home_view_team_delta' %}" class="mt-auto btn btn-outline-primary">Go to Delta</a>
        </div>
      </div>

      <div class="card shadow-lg" style="width: 18rem; ">
        <div class="card-header">
          <img class="card-img-top" src="{% static 'admin/img/kappa-icon.png' %}" alt="EAR Icon">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Kappa</h5>
          <p class="card-text">Clerical</p>
          {% if kappa_count.count > 0 %}<span class="badge rounded-pill bg-primary">{{ kappa_count.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
        </div>
        <div class="card-footer d-flex flex-column">
          <a href="{% url 'ear_home_view_team_kappa' %}" class="mt-auto btn btn-outline-primary">Go to Kappa</a>
        </div>
      </div>

      <div class="card shadow-lg" style="width: 18rem; ">
        <div class="card-header">
          <img class="card-img-top" src="{% static 'admin/img/lambda-icon.png' %}" alt="EAR Icon">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Lambda</h5>
          <p class="card-text">RPA</p>
          {% if lambda_count.count > 0 %}<span class="badge rounded-pill bg-primary">{{ lambda_count.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
        </div>
        <div class="card-footer d-flex flex-column">
          <a href="{% url 'ear_home_view_team_lambda' %}" class="mt-auto btn btn-outline-primary">Go to Lambda</a>
        </div>
      </div>

      <div class="card shadow-lg" style="width: 18rem; ">
        <div class="card-header">
          <img class="card-img-top" src="{% static 'admin/img/sigma-icon.png' %}" alt="EAR Icon">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Sigma</h5>
          <p class="card-text">Scripts</p>
          {% if sigma_count.count > 0 %}<span class="badge rounded-pill bg-primary">{{ sigma_count.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
        </div>
        <div class="card-footer d-flex flex-column">
          <a href="{% url 'ear_home_view_team_sigma' %}" class="mt-auto btn btn-outline-primary">Go to Sigma</a>
        </div>
      </div>

      <div class="card shadow-lg" style="width: 18rem; ">
        <div class="card-header">
          <img class="card-img-top" src="{% static 'admin/img/omega-icon.png' %}" alt="EAR Icon">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Omega</h5>
          <p class="card-text">Grading</p>
          {% if omega_count.count > 0 %}<span class="badge rounded-pill bg-primary">{{ omega_count.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
        </div>
        <div class="card-footer d-flex flex-column">
          <a href="{% url 'ear_home_view_team_omega' %}" class="mt-auto btn btn-outline-primary">Go to Omega</a>
        </div>
      </div>
    </div>
  </div>

</div>


</body>
</html>