{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
  <head>
      

      {% compress css %}
          <link href="{% static 'admin/css/custom.scss' %}" rel="stylesheet" type="text/x-scss">
      {% endcompress %}
      <script type="text/javascript">
          function preventBack() {
              window.history.forward(); 
          }
            
          setTimeout("preventBack()", 0);
            
          window.onunload = function () { null };
      </script>
      <title>Nova</title>
      <link rel="icon" type="image/x-icon" href="{% static 'admin/img/favicon.ico' %}">
  </head>
  <body style="background-color:#ffffff;" onload="javascript:setTimeout(function(){ location.reload(); },15000);">
    {% include 'nova_core/base_navbar.html' %}

    <div class="row mx-2 justify-content-between align-items-end">
      <div class="col-4">
        <h3 class="display-3 mt-3 mx-4 my-1"> </h3>
      </div>

      <div class="col-4">
        <h2 class="display-3 mt-3 mx-4 my-1" style="color: rgb(150, 0, 0);">{{ session_desc }}</h2>
      </div>
    </div>

    <div class="row mx-2 justify-content-between text-center">
      <div class="col">
        <h3 class="display-3 mt-3 mx-4 my-1">Lambda</h3>
      </div>
    </div>

    <div class="row mx-2">
      <div class="col d-flex justify-content-center">
        <div class="card m-3 shadow-lg" style="width: 18rem; ">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">RPA Apportionment</h5>
            {% if botapp.count > 0 %}<span class="badge rounded-pill bg-primary">{{ botapp.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
            <p class="card-text">Tasks awaiting an RPA processing run for apportionment.</p>
            <a href="{% url 'rpa_apportionment' %}" class="mt-auto btn btn-outline-primary">Go to Checks</a>
          </div>
        </div>
      
        <div class="card m-3 shadow-lg" style="width: 18rem; ">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">RPA Marks Keying</h5>
            {% if botmar.count > 0 %}<span class="badge rounded-pill bg-primary">{{ botmar.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
            <p class="card-text">Tasks awaiting an RPA processing run for marks keying.</p>
            <a href="{% url 'rpa_marks_keying' %}" class="mt-auto btn btn-outline-primary">Go to Checks</a>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>