{% extends 'nova_core/base.html' %}

{% block content %}

<h1 class="display-5 text-center mb-5">EAR - OMR Check Downloads</h1>


<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% if cer.has_previous %}
        <a class="page-link" href="?page={{cer.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
        {% else %}
        <a class="page-link disabled" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        {% endif %}
      </li>

      <li class="page-item">
        {% if cer.number == 1 %}
        <a class="page-link disabled"aria-label="First">
          <span aria-hidden="true">First</span>
        </a>
        {% else %}
        <a class="page-link" href="?page=1" aria-label="First">
            <span aria-hidden="true">First</span>
        </a>
        {% endif %}
      </li>

      <li class="page-item"><a class="page-link active"style="width: 45px; text-align:center">{{cer.number}}</a></li>

      <li class="page-item">
        {% if cer.number == cer.paginator.num_pages %}
        <a class="page-link disabled"aria-label="Last">
          <span aria-hidden="true">Last ({{cer.paginator.num_pages}})</span>
        </a>
        {% else %}
        <a class="page-link" href="?page={{cer.paginator.num_pages}}" aria-label="Previous">
            <span aria-hidden="true">Last ({{cer.paginator.num_pages}})</span>
        </a>
        {% endif %}
      </li>

      <li class="page-item">
        {%if cer.has_next %}
        <a class="page-link" href="?page={{cer.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
        {% else %}
        <a class="page-link disabled" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
        {% endif %}
      </li>
    </ul>
  </nav>

  <div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <form method="POST" action="{% url 'omrche_create' %}" class="text-center">
                <button type="submit" title="Pass IEC" class="btn btn-outline-success" style="width:500px">Create New OMR CSV</button>
            </form>
        </div>
    </div>
</div>


  <div class="table-responsive-xl m-5">
      <table class="table table-sm table-bordered table-hover">
          <tr class="text-center">
            <th>File Name</th>
            <th>Downloads</th>
            <th>Archived to Y</th>
            <th>Creation Date</th>
            <th>Download File</th>

          </tr>
          {% for y in cer %}

                  <tr class="text-center">
                    <td>{{ y.file_name }}</td> 
                    <td>{{ y.download_count }}</td>
                    <td>{{ y.archive_count }}</td>
                    <td>{{ y.uploaded_at|date:"d/m/y H:m:s" }}</td>
                    <td><form method="POST" action="{% url 'omrche_download' download_id=y.id  %}" class="text-center">
                        <button type="submit" class="btn btn-outline-primary" style="width:200px">Download File</button>
                    </form></td>
                  </tr>

          {% endfor %}
      </table>
  </div>




{% endblock %}