{% extends 'nova_core/base.html' %}

{% block content %}

<h1 class="display-5 text-center mb-5">EAR - Immediate Rejections Check</h1>


<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% if cer.has_previous %}
        <a class="page-link" href="?page={{cer.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
        {% else %}
        <a class="page-link disabled" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        {% endif %}
      </li>

      <li class="page-item">
        {% if cer.number == 1 %}
        <a class="page-link disabled"aria-label="First">
          <span aria-hidden="true">First</span>
        </a>
        {% else %}
        <a class="page-link" href="?page=1" aria-label="First">
            <span aria-hidden="true">First</span>
        </a>
        {% endif %}
      </li>

      <li class="page-item"><a class="page-link active"style="width: 45px; text-align:center">{{cer.number}}</a></li>

      <li class="page-item">
        {% if cer.number == cer.paginator.num_pages %}
        <a class="page-link disabled"aria-label="Last">
          <span aria-hidden="true">Last ({{cer.paginator.num_pages}})</span>
        </a>
        {% else %}
        <a class="page-link" href="?page={{cer.paginator.num_pages}}" aria-label="Previous">
            <span aria-hidden="true">Last ({{cer.paginator.num_pages}})</span>
        </a>
        {% endif %}
      </li>

      <li class="page-item">
        {%if cer.has_next %}
        <a class="page-link" href="?page={{cer.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
        {% else %}
        <a class="page-link disabled" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
        {% endif %}
      </li>
    </ul>
  </nav>


    <div class="table-responsive-xl m-5">
        <table class="table table-sm table-bordered table-hover">
            <tr class="text-center">
              <th>Enquiry ID</th>
              <th>Task Creation Date</th>
              <th>Task Owner</th>
              <th>Task Assignment Date</th>
              <th>Assignment</th>
            </tr>
            {% for x in cer %}
                {% for y in x.enquiry_tasks.all %}
                    {% if y.task_id.task_id == 'NEGCON' and y.task_completion_date == None %}
                    <tr class="text-center">
                      <td><a href='/enquiries/enquiries_detail/{{ y.enquiry_id.enquiry_id }}'>{{ y.enquiry_id.enquiry_id }}</a></td> 
                      <td>{{ y.task_creation_date }}</td>
                      <td>{{ y.task_assigned_to }}</td>
                      <td>{{ y.task_assigned_date }}</td>
                      <td><form method="POST" action="{% url 'self-assign-task' task_id=y.id %}" class="text-center">
                          <input name="page_location" id="page_location" value="negcon_list" type="hidden" class="form-control">
                          {% if request.user.username == y.task_assigned_to.username %}
                            <button disabled type="submit" class="btn btn-outline-secondary" style="width:120px">Assign to Me</button>
                          {% else %}
                            <button type="submit" class="btn btn-outline-primary" style="width:120px">Assign to Me</button>
                          {% endif %}
                      </form></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>




{% endblock %}