{% extends 'nova_core/base.html' %}

{% block content %}

<h1 class="display-5 text-center mb-5">EAR - {{task_qs}}</h1>


<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% if qs.has_previous %}
        <a class="page-link" href="?page={{qs.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
        {% else %}
        <a class="page-link disabled" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        {% endif %}
      </li>

      <li class="page-item">
        {% if qs.number == 1 %}
        <a class="page-link disabled"aria-label="First">
          <span aria-hidden="true">First</span>
        </a>
        {% else %}
        <a class="page-link" href="?page=1" aria-label="First">
            <span aria-hidden="true">First</span>
        </a>
        {% endif %}
      </li>

      <li class="page-item"><a class="page-link active"style="width: 45px; text-align:center">{{qs.number}}</a></li>

      <li class="page-item">
        {% if qs.number == qs.paginator.num_pages %}
        <a class="page-link disabled"aria-label="Last">
          <span aria-hidden="true">Last ({{qs.paginator.num_pages}})</span>
        </a>
        {% else %}
        <a class="page-link" href="?page={{qs.paginator.num_pages}}" aria-label="Previous">
            <span aria-hidden="true">Last ({{qs.paginator.num_pages}})</span>
        </a>
        {% endif %}
      </li>

      <li class="page-item">
        {%if qs.has_next %}
        <a class="page-link" href="?page={{qs.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
        {% else %}
        <a class="page-link disabled" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
        {% endif %}
      </li>
    </ul>
  </nav>


    <div class="table-responsive-xl m-5">
        <table class="table table-sm table-bordered table-hover">
            <tr class="text-center">
              <th>Enquiry ID</th>
              <th>Service</th>
              <th>Script ID</th>
              <th>Script Type</th>
              <th>Session Name</th>
              <th>Batch ID</th>
              <th>Task Creation Date</th>
              <th>Task Owner</th>
              <th>Task Assignment Date</th>
              <th colspan="2">Assignment</th>
            </tr>
            {% for x in qs %}
                {% for y in x.ec_sid.script_tasks.all %}
                  {% if y.task_id.task_id == task_qs and y.task_completion_date == None %}
                    <tr class="text-center">
                      <td><a href='/enquiries/enquiries_detail/{{ y.ec_sid.erp_sid.cer_sid.enquiry_id }}'>{{ y.ec_sid.erp_sid.cer_sid.enquiry_id }}</a></td> 
                      <td>{{ x.ec_sid.erp_sid.service_code }}</td>
                      <td>{{ y.ec_sid.ec_sid }}</td>
                      <td>{{ x.ec_sid.script_type }}</td>
                      <td>{{ x.ec_sid.eps_ses_name }}</td>
                      <td>{{ x.eb_sid.eb_sid }}</td>
                      <td>{{ y.task_creation_date }}</td>
                      <td>{{ y.task_assigned_to }}</td>
                      <td>{{ y.task_assigned_date }}</td>
                      <td><form method="POST" action="{% url 'self-assign-task' task_id=y.id %}" class="text-center">
                          <input name="page_location" id="page_location" value="{{task_qs|lower}}_list" type="hidden" class="form-control">
                          <input type="hidden" name="current_page" id="current_page" value="{{ qs.number }}">
                          {% if request.user.username == y.task_assigned_to.username %}
                            <button disabled type="submit" class="btn btn-outline-secondary" style="width:120px">Assign to Me</button>
                          {% else %}
                            <button type="submit" class="btn btn-outline-primary" style="width:120px">Assign to Me</button>
                          {% endif %}
                      </form></td>
                      <td><form method="POST" action="{% url 'assign-task-user' task_id=y.id  user_id=request.user.id %}" class="text-center">
                        <input name="page_location" id="page_location" value="{{task_qs|lower}}_list" type="hidden" class="form-control">
                        <button type="submit" class="btn btn-outline-warning" style="width:120px">Assign To</button>
                    </form></td>
                    </tr>
                  {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>




{% endblock %}