<div id="processing-time" hx-get="{% url 'dataset_processing' %}" hx-trigger="every 1s" hx-swap="innerHTML"> >
    <div class="w-25 mx-auto">
        {% if processing_time == None %}
            <div class="form-control text-center" style="background-color: lightgrey;">
                <div>Processing Time: N/A</div>
            </div>
        {% else %}
            <div class="form-control text-center" style="background-color: rgb(140, 198, 245);">
                <div>Processing Time: {{processing_time}}</div>
            </div>
        {% endif %}

        <h2 class="display-10 text-center mt-2 mb-2 ">Currently Processing:</h2>
        <div class="display-5 text-center mb-3">
            {% if currently_processing != none %}
                <a class="form-control mb-1" id="newDatasetName" name="newDatasetName" style="display: block; text-decoration: none; color: inherit; text-align: center;">
                    {{currently_processing.dataset.dataset_name}}
                </a>
            {% else %}
                <a class="form-control mb-1" id="newDatasetName" name="newDatasetName" style="display: block; text-decoration: none; color: inherit; text-align: center;">
                    N/A
                </a>
            {% endif %}
        </div>
    
        <h2 class="display-10 text-center mt-3 mb-2 ">Queued:</h2>
        <div class="display-5 text-center">
            {% for dataset in queued_datasets %}
                {% if dataset.task_running != 1 %}
                    <a class="form-control mb-1" id="newDatasetName" name="newDatasetName" style="display: block; text-decoration: none; color: inherit; text-align: center;">
                        {{dataset.dataset.dataset_name}}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>