{% for x in history %}
    {% for y in x.script_tasks.all %}
        {% if forloop.parentloop.last and history.has_next %}
            <tr class="text-center" 
            id="lazy_load"                 
            hx-trigger="revealed"
            hx-get="{% url 'user_tasks' original_user %}?page={{ history.number|add:1 }}"
            hx-swap="afterend">
            <td><a href='/enquiries/enquiries_detail/{{ y.ec_sid.erp_sid.cer_sid.enquiry_id }}'>{{ y.ec_sid.erp_sid.cer_sid.enquiry_id }}</a></td> 
            <td>{{ y.ec_sid.ec_sid }}</td>
            <td>{{ x.eps_ses_name }}</td>
            {% for s in x.script_id.all %}<td>{{ s.eb_sid.eb_sid }}</td>{% empty %}<td>None</td>{% endfor %}
            <td>{{y.task_id.task_id}}</td>
            <td>{{ y.task_creation_date }}</td>
            <td>{{ y.task_assigned_to }}</td>
            <td>{{ y.task_assigned_date }}</td>
            <td>{{ y.task_completion_date }}</td>
            </tr>
        {% else %}
            <tr class="text-center" 
            id="lazy_load">
            <td><a href='/enquiries/enquiries_detail/{{ y.ec_sid.erp_sid.cer_sid.enquiry_id }}'>{{ y.ec_sid.erp_sid.cer_sid.enquiry_id }}</a></td> 
            <td>{{ y.ec_sid.ec_sid }}</td>
            <td>{{ x.eps_ses_name }}</td>
            {% for s in x.script_id.all %}<td>{{ s.eb_sid.eb_sid }}</td>{% empty %}<td>None</td>{% endfor %}
            <td>{{y.task_id.task_id}}</td>
            <td>{{ y.task_creation_date }}</td>
            <td>{{ y.task_assigned_to }}</td>
            <td>{{ y.task_assigned_date }}</td>
            <td>{{ y.task_completion_date }}</td>
            </tr>
        {% endif %}
    {% endfor %}
{% endfor %}
