{% extends 'base.html' %}

{% block content %}
{% load static %}

<h3 class="mt-3 mx-4 my-1">My Tasks</h3>

<div class="row mx-2">

  <div class="card m-5 shadow-lg" style="width: 18rem; ">
    <img class="card-img-top" src="{% static 'admin/img/ear-icon.png' %}" alt="EAR Icon">
    <div class="card-body">
      <h5 class="card-title">Upload Examiner Payments File</h5>
      <p class="card-text">Upload new files to be processed.</p>
      <a href="{% url 'indianexm_upload' %}" class="btn btn-primary">Upload</a>
    </div>
  </div>


</div>

{% endblock %}
