{% extends 'nova_core/base.html' %}

{% block content %}
{% load static %}

<h1 class="mt-3 mx-4 my-1 text-center">PDQs</h1>

<div class="row mx-2">
  <div class="col d-flex justify-content-center">
    <div class="card m-3 shadow-lg" style="width: 18rem; ">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Session Controls</h5>
        <p class="card-text">A list of all active sessions and there results release dates.</p>
        <a href="{% url 'session_control' %}" class="mt-auto btn btn-outline-primary">Go to Sessions</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
