{% extends 'nova_core/base.html' %}

{% block content %}
{% load static %}

<h1 class="mt-3 mx-4 my-1 text-center">PDQs</h1>

<form method="GET" action="{% url 'add_session' %}" class="m-5 text-center">
  <button type="add" title="add" class="btn btn-outline-primary align-items-center justify-content-center d-inline-flex" style="width:500px">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5" style="width:30px">
      <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm.75-11.25a.75.75 0 0 0-1.5 0v2.5h-2.5a.75.75 0 0 0 0 1.5h2.5v2.5a.75.75 0 0 0 1.5 0v-2.5h2.5a.75.75 0 0 0 0-1.5h-2.5v-2.5Z" clip-rule="evenodd" />
    </svg>  
    <div class="px-1 align-bottom " >Add New Session</div>  
  </button>
</form>

<div class="row mx-2">
  <div class="col d-flex justify-content-center">
    <table class="table table-sm table-bordered table-hover">
      <tr class="text-center">
        <th>Session ID</th>
        <th>Session Name</th>
        <th>Session Year</th>
        <th>Session Month</th>
        <th>Results Release Date</th>
        <th>Results Remaining</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {% for session in pdq_sessions %}
      <tr class="text-center">
        <td>{{ session.session_id }}</td> 
        <td>{{ session.session_name }}</td>
        <td>{{ session.session_year }}</td>
        <td>{{ session.session_sequence }}</td>
        <td>{{ session.results_release_datetime|date:"d/m/Y" }} - {{ session.results_release_datetime|time:"H:i" }}</td>
        <td>0</td>
        <td><form method="POST" action="{% url 'change_session' session.session_id %}" class="text-center">
          <button type="submit" class="btn btn-outline-warning" style="width:50px">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5"><path d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z" /><path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z" /></svg>
          </button>
        </form></td>
        <td><form method="POST" action="{% url 'remove_session' session.session_id %}" class="text-center">
          <button type="submit" class="btn btn-outline-danger" style="width:50px">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5"><path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z" clip-rule="evenodd" /></svg>
          </button>
        </form></td>
      </tr>
      {% endfor %}
  </table>
  </div>
</div>

{% endblock %}
