{% extends 'nova_core/base.html' %}
{% load static %}

{% block content %}

<!--Main Title:-->
<h1 class="display-5 text-center pt-4 mb-4 ">Home</h1>

<div class="container">
    <div class="row mx-2"> 
        <div class="col d-flex justify-content-center flex-wrap">
            <form method="POST" action="{% url 'reports' %}">
                <button type="submit" class="btn btn-primary m-1 shadow-lg" style="width: 20rem;">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="text-center">
                            <div class="info-and-title">
                                <h5 class="card-title">Reports</h5>
                            </div>
                        </div>
                    </div>
                </button>
            </form>
            <form method="POST" action="{% url 'datasets' %}">
                <button type="submit" class="btn btn-primary m-1 shadow-lg" style="width: 20rem;">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="text-center">
                            <div class="info-and-title">
                                <h5 class="card-title">Datasets</h5>
                            </div>
                        </div>
                    </div>
                </button>
            </form>
        </div>
    </div>
</div>
    
{% endblock %}