{% extends 'nova_core/base.html' %}

{% block content %}

<h1 class="display-5 text-center mb-5">EAR Task - Script Checks</h1>
<h3 class="text-center mb-5">Service 2S only</h3>

<div class="container">
    <div class="row text-center">
        <a class="btn btn-secondary btn-lg my-2" href='/enquiries/task_manager/my_tasks'>Back to My Tasks</a>
    </div>

        <div class="row text-center my-3">
            <h5>Task Summary</h5>
            <table class="table table-sm table-bordered table-hover text-center">
                <tr class="text-center">
                    <th>Task ID</th>
                    <td>{{ task.id }}</td>
                </tr>
                <tr class="text-center">
                    <th>Enquiry ID</th>
                    <td>{{ task.enquiry_id.enquiry_id }}</td>
                </tr>
                <tr class="text-center">
                    <th>Script ID</th>
                    <td>{{ task.ec_sid.ec_sid }}</td>
                </tr>
                <tr class="text-center">
                    <th>Batch ID</th>
                    <td>{% for erp in task.ec_sid.script_id.all %} {{ erp.eb_sid.eb_sid }} {% endfor %}</td>
                </tr>
                <tr class="text-center">
                    <th>Service Code</th>
                    <td>{{ task.ec_sid.erp_sid.service_code }}</td>
                </tr>
                <tr class="text-center">
                    <th>Centre ID</th>
                    <td>{{ task.ec_sid.erp_sid.eps_centre_id }}</td>
                </tr>
                <tr class="text-center">
                    <th>Syllabus/Component</th>
                    <td>{{ task.ec_sid.eps_ass_code }}/{{ task.ec_sid.eps_com_id }}</td>
                </tr>
                <tr class="text-center">
                    <th>Session Name</th>
                    <td>{{ task.ec_sid.eps_ses_name }}</td>
                </tr>
                <tr class="text-center">
                    <th>Script Type</th>
                    <td>{{ task.ec_sid.script_type }}</td>
                </tr>
            </table>
        </div>

        {% if issue_reason %}<h2 class="text-center text-primary mb-3">ISSUE REASON: {{issue_reason}}</h2>{% endif %}

        <div class="row text-center">
        <h5>Task Instruction</h5>
        <div>Please perform the following checks on the script:</div>
        <div>- The Candidate Marks Report to match the filename - centre number, candidate number, syllabus, and component.</div>
        <div>- Original Marks and the Results Enquiry marks shown, plus any additional mark submissions that were selected.</div>
        <div>- Candidate and script details on the Candidate Marks Report & Nova match the front cover of the actual script. Note: if any details do not match, check this with your supervisor.</div>
        <div>- Annotations by the Results Enquiry examiner (purple) Annotations may be ticks or crosses, or text such as ‘SEEN’ (for confirmed marks) / comment box saying ‘EAR no changes’ near the end of the script. (Original examiner is green/red, whilst annotations during a supervisor remark are blue)</div>
        </div>

        <form method="POST" action="{% url 'scrche-complete' %}" class="text-center">
            <input name="script_id" id="script_id" value={{task.ec_sid.ec_sid}} type="hidden" class="form-control">
            <input name="task_id" id="task_id" value={{task.id}} type="hidden" class="form-control">
            <input name="enquiry_id" id="enquiry_id" value={{task.enquiry_id.enquiry_id}} type="hidden" class="form-control">

            <button type="submit" class="btn btn-success btn-lg my-4" style="width:300px">Complete Checks</button>
        </form>

</div>



{% endblock %}