{% extends 'nova_core/base.html' %}

{% block content %}

<style type="text/css">
    .container-fluid.custom-container {
      padding: 0 50px;
    }
</style>

<h1 class="display-5 mb-4 mt-3 mx-5 text-center">EAR Task - MU Pre-emptive Exminer Updates</h1>

<div class="container-fluid">
    <div class="row text-center">
        <div class="row text-center">
            <div class="col mb-5 mx-5">
                <a class="btn btn-primary btn-lg" style="width: 500px" href='/enquiries/task_manager/my_tasks'>&lt;&lt; Back to My Tasks</a>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col text-center text-dark ms-5 me-3 bg-light rounded">
            <div class="row text-center m-3">
                <h5>Task Summary</h5>
                <table class="table table-sm table-bordered table-hover text-center">
                    <tr class="text-center">
                        <th>Task ID</th>
                        <td>{{ task.id }}</td>
                        <th>Centre Number</th>
                        <td>{{ task.ec_sid.erp_sid.eps_centre_id }}</td>
                    </tr>
                    <tr class="text-center">
                        <th>Enquiry ID</th>
                        <td><a href='/enquiries/enquiries_detail/{{ task.enquiry_id.enquiry_id }}'>{{ task.enquiry_id.enquiry_id }}</a></td>
                        <th>Candidate Number</th>
                        <td>{{ task.ec_sid.erp_sid.eps_cand_id }}</td>
                    </tr>
                    <tr class="text-center">
                        <th>Script ID</th>
                        <td>{{ task.ec_sid.ec_sid }}</td>
                        <th>Syllabus</th>
                        <td>{{ task.ec_sid.eps_ass_code }}</td>
                    </tr>
                    <tr class="text-center">
                        <th>Batch ID</th>
                        <td>{% for bat in task.ec_sid.script_id.all %}{{ bat.eb_sid.eb_sid }}{% endfor %}</td>
                        <th>Component</th>
                        <td>{{ task.ec_sid.eps_com_id }}</td>
                    </tr>
                    <tr class="text-center">
                        <th>Original Examiner</th>
                        <td>{% for exm in task.ec_sid.script_pexmch.all %}{{ exm.exm_position }}{% endfor %}</td>
                        <th>Review Reason</th>
                        <td>{% for exm in task.ec_sid.script_pexmch.all %}{{ exm.kbr_reason }}{% endfor %}</td>
                    </tr>
                    <tr class="text-center">
                        <th>Script Type</th>
                        <td>{{ task.ec_sid.script_type }}</td></td>
                        <th></th>
                        <td></td>
                    </tr>
                </table>  
                <h5>Task Instruction</h5>
                <div>Please update the Examiner Payment Log to note that this script was MU Pre-emptive.</div>
            </div>
        </div>

        <div class="col text-center ms-3 me-5 bg-light text-dark rounded">
            <div class="row text-center m-3">
                <h5>Task Comments</h5>
                <table class="table table-bordered table-hover text-center bg-white">
                    <tr class="text-center">
                        <th class="text-dark">Comment</th>
                        <th class="text-dark">Creation Date</th>
                        <th class="text-dark">Creator</th>
                        <th class="text-dark">Task Complete</th>
                    </tr>
                    {% for comment in task_comments %}
                    {% if comment.task_comment_invalid == 0 %}
                    <tr class="text-center">
                        <td style="word-break: break-word;">{{ comment.task_comment_text }}</td>
                        <td>{{ comment.task_comment_creation_date|date:"d/m/y H:i" }}</td>
                        <td>{{ comment.task_comment_user }}</td>
                        <td>                        
                            <form method="POST" action="{% url 'remove_task_comment' %}" class="form-inline">
                                    <input name="task_id" id="task_id" value={{task.id}} type="hidden" class="form-control">
                                    <input name="comment_id" id="comment_id" value={{comment.id}} type="hidden" class="form-control">
                                    <button type="submit" class="btn btn-danger btn-sm" style="width:100px" onClick="this.form.submit(); this.disabled=true;">Remove</button>
                            </form>  
                        </td>
                    </tr>
                    {% else %}
                    <tr class="text-center">
                        <td class="text-info" style="word-break: break-word;">{{ comment.task_comment_text }}</td>
                        <td class="text-info">{{ comment.task_comment_creation_date|date:"d/m/y H:i" }}</td>
                        <td class="text-info">{{ comment.task_comment_user }}</td>
                        <td>                        
                            <form method="POST" action="{% url 'remove_task_comment' %}" class="form-inline">
                                    <input name="task_id" id="task_id" value={{task.id}} type="hidden" class="form-control">
                                    <input name="comment_id" id="comment_id" value={{comment.id}} type="hidden" class="form-control">
                                    <button disabled type="submit" class="btn btn-info btn-sm" style="width:100px">Remove</button>
                            </form>  
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr class="text-center">
                        <td colspan="4">
                        <form method="POST" action="{% url 'add_task_comment' %}" class="form-inline">
                            <table class="table table-sm text-center bg-white">
                                <input name="task_id" id="task_id" value={{task.id}} type="hidden" class="form-control">
                                <td><input name="task_comment" id="task_comment" type="text" class="form-control"></td>
                                <td><button type="submit" class="btn btn-primary" style="width:200px" onClick="this.form.submit(); this.disabled=true;">Add Comment</button></td>
                            </table>
                        </form>   
                        </td>                  
                    </tr>
                    
                </table>
            </div>
            <div class="row text-center m-3">
                <h5>Panel Notes</h5>
                <div>{{panel_notes}}</div>
            </div>
            {% if issue_reason %}<h2 class="text-center text-primary mb-3">ISSUE REASON: {{issue_reason}}</h2>{% endif %}
        </div>
    </div>

<div class="row text-center">
    <div class="col text-center my-4 mx-5 bg-light text-dark rounded">
        <form method="POST" action="{% url 'muprex-complete' %}" class="text-center">
            <input name="script_id" id="script_id" value={{task.ec_sid.ec_sid}} type="hidden" class="form-control">
            <input name="task_id" id="task_id" value={{task.id}} type="hidden" class="form-control">
            <input name="enquiry_id" id="enquiry_id" value={{task.enquiry_id.enquiry_id}} type="hidden" class="form-control">
            <button type="submit" class="btn btn-success btn-lg my-4" style="width:300px">Complete Checks</button>
        </form>
    </div>  

</div>



{% endblock %}