{% extends 'base.html' %}

{% block content %}

<h1 class="display-5 text-center mb-5">EAR Task - Set BIE</h1>

<div class="container">
    <div class="row text-center">
        <a class="btn btn-secondary btn-lg my-2" href='/enquiries/task_manager/my_tasks'>Back to My Tasks</a>
    </div>
    <div class="row text-center my-3">
        <h5>Task Summary</h5>
        <table class="table table-sm table-bordered table-hover text-center">
            <tr class="text-center">
                <th>Task ID</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr class="text-center">
                <th>Enquiry ID</th>
                <td><a href='/enquiries/enquiries_detail/{{ task.enquiry_id.enquiry_id }}'>{{ task.enquiry_id.enquiry_id }}</a></td>
            </tr>
            <tr class="text-center">
                <th>BIE Reason</th>
                <td>{% for r in task.task_bie_reason.all %}{{ r.failure_reason }}{% endfor %}</td>
            </tr>
        </table>
        <h5>Task Instruction</h5>
        <div>Please mark this enquiry as Booked In Error in EPS.</div>
    </div>
    <div class="row text-center mt-5">
        <a class="btn btn-success btn-lg my-2" href='/enquiries/task_manager/setbie_task/{{ task.enquiry_id.enquiry_id }}/bie-complete/'>Complete This Task</a>
    </div>

</div>



{% endblock %}