{% extends 'base.html' %}

{% block content %}

<h1 class="display-5 text-center mb-3">EAR - Enquiry Details - {{ cer.enquiry_id }}</h1>





    {% for y in cer.enquiries.all %}
    <div class="container">

        <div class="row text-center mb-5">
            {% if bie_status == 'SETBIE' %}
                <h2 class="text-center text-danger">THIS ENQUIRY IS CANCELLED</h2>
            {% else %}
            <h2 style="opacity: 0.0;" class="text-center text-danger">THIS ENQUIRY IS CANCELLED</h2>
            {% endif %}

            {% if issue_reason %}<h2 class="text-center text-primary">ISSUE REASON: {{issue_reason}}</h2>{% endif %}

            {% if bie_status != 'SETBIE' %}
            <form method="POST" action="{% url 'prioritise-enquiry' enquiry_id=cer.enquiry_id %}">
                <button type="submit" title="Pause Enquiry" class="btn btn-outline-success my-2" style="width:1000px">Prioritise Enquiry</button>
            </form>
            <form method="POST" action="{% url 'pause-enquiry' enquiry_id=cer.enquiry_id %}">
                <button type="submit" title="Pause Enquiry" class="btn btn-outline-warning my-2" style="width:1000px">Pause Enquiry</button>
            </form>
            <div class="text-center mt-2">
                    <button type="submit" title="Fail" class="btn btn-outline-danger text-center" style="width:1000px"
                    data-bs-toggle="modal" data-bs-target="#exampleModal{{cer.enquiry_id}}">Cancel Enquiry</button>
            </div>

    <div class="modal fade" id="exampleModal{{cer.enquiry_id}}" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Set BIE Reason - {{cer.enquiry_id}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="POST" action="{% url 'iec-fail' enquiry_id=cer.enquiry_id %}">
                <input name="rpa_fail" id="listed" type="hidden" class="form-control" placeholder="Enquiry No.">
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Failure Reason:</label>
                  <textarea class="form-control" id="message-text" name="rpa_fail"></textarea>
                </div>
                <button type="submit" title="Pass" class="btn btn-outline-primary" style="width:150px" data-bs-dismiss="modal">Continue</button>
                <input name="page_source" id="page_source" value="detail" type="hidden" class="form-control" placeholder="Enquiry No.">
              </form>
            </div>
          </div>
        </div>
      </div>


            {% else %}
            <form method="POST" action="{% url 'prioritise-enquiry' enquiry_id=cer.enquiry_id %}">
                <button disabled type="submit" title="Pause Enquiry" class="btn btn-outline-secondary my-2" style="width:1000px">Prioritise Enquiry</button>
            </form>
            <form method="POST" action="{% url 'pause-enquiry' enquiry_id=cer.enquiry_id %}">
                <button disabled type="submit" title="Pause Enquiry" class="btn btn-outline-secondary my-2" style="width:1000px">Pause Enquiry</button>
            </form>
            <form method="POST" action="{% url 'iec-fail' enquiry_id=cer.enquiry_id %}">
                <input name="page_source" id="page_source" value="detail" type="hidden" class="form-control" placeholder="Enquiry No.">
                <button disabled type="submit" title="Cancel Enquiry" class="btn btn-outline-secondary my-2" style="width:1000px">Cancel Enquiry</button>
            </form>
            {% endif %}
        </div>

        <div class="row text-center">
            <div class="col-4">
                <h4>Enquiry Summary</h4>
                <table class="table table-sm table-bordered table-hover">
                    <tr class="text-center">
                        <th>Service Code</th>
                        <td>{{ y.service_code }}</td>
                    </tr>
                    <tr class="text-center">
                        <th>Comp/Syll Indicator</th>
                        <td>{{ y.eps_comp_ind }}</td>
                    </tr>
                    <tr class="text-center">
                        <th>Centre No.</th>
                        <td>{{ y.eps_centre_id }}</td>
                    </tr>
                    <tr class="text-center">
                        <th>Candidate No.</th>
                        <td>{{ y.eps_cand_id }}</td>
                    </tr>
                    <tr class="text-center">
                        <th>Syllabus/Version.</th>
                        <td>{{ y.eps_ass_code }}/{{ y.eps_ass_ver_no }}</td>
                    </tr>
                    <tr class="text-center">
                        <th>Components</th>
                        <td>{% for z in y.enquiry_parts.all %} {{ z.eps_com_id }} {% endfor %}</td>
                    </tr>
                    <tr class="text-center">
                        <th>Enquiry Creation Date</th>
                        <td>{{ cer.eps_creation_date }}</td>
                    </tr>
                    <tr class="text-center">
                        <th>Enquiry Completion Date</th>
                        <td>{{ cer.eps_completion_date }}</td>
                    </tr>
                    <tr class="text-center">
                        <th>EPS BIE Indicator</th>
                        <td>{{ y.booked_in_error_ind }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-8">
                <h4>Enquiry Task History</h4>
                <table class="table table-sm table-bordered table-hover">
                    <tr class="text-center">
                        <th>Script ID</th>
                        <th>Component</th>
                        <th>Task Type</th>
                        <th>Task Creation Date</th>
                        <th>Current Task Owner</th>
                        <th>Task Assign Date</th>
                        <th>Task Completion Date</th>
                    </tr>
                {% for t in tasks %}
                    <tr class="text-center">
                    <td>{{ t.ec_sid.ec_sid }}</td>
                    <td>{{ t.ec_sid.eps_com_id }}</td>
                    <td>{{ t.task_id }}</td>
                    <td>{{ t.task_creation_date|date:"d/m/y H:i" }}</td>
                    <td>{{ t.task_assigned_to }}</td>
                    <td>{{ t.task_assigned_date|date:"d/m/y H:i" }}</td>
                    <td>{{ t.task_completion_date|date:"d/m/y H:i" }}</td>
                    </tr>
                {% endfor %}

                </table>
            </div>
        </div>

    </div>

    {% endfor %}


{% endblock %}
