{% extends 'base.html' %}

{% block content %}

<h1 class="display-5 text-center mb-5">EAR Task - Grade Confirmation</h1>

<div class="container">
    <div class="row text-center">
        <a class="btn btn-secondary btn-lg my-2" href='/enquiries/task_manager/my_tasks'>Back to My Tasks</a>
    </div>
    <div class="row text-center my-3">
        <h5>Task Summary</h5>
        <table class="table table-sm table-bordered table-hover text-center">
            <tr class="text-center">
                <th>Task ID</th>
                <td>{{ task.id }}</td>
                <th>Centre Number</th>
                <td>{{ task.enquiry_id.centre_id }}</td>
            </tr>
            <tr class="text-center">
                <th>Enquiry ID</th>
                <td><a href='/enquiries/enquiries_detail/{{ task.enquiry_id.enquiry_id }}'>{{ task.enquiry_id.enquiry_id }}</a></td>
                <th>Candidate Number</th>
                <td>{% for ec in task.enquiry_id.enquiries.all %}{{ ec.eps_cand_id }}{% endfor %}</td>
            </tr>
            <tr class="text-center">
                <th>Syllabus</th>
                <td>{% for ec in task.enquiry_id.enquiries.all %}{{ ec.eps_ass_code }}{% endfor %}</td>
                <th>Components</th>
                <td>{% for ec in task.enquiry_id.enquiries.all %}
                    {% for ec2 in ec.enquiry_parts.all %}{{ ec2.eps_com_id }},{% endfor %}
                    {% endfor %}</td>
            </tr>
        </table>
        <h5>Task Instruction</h5>
        <div>Please confirm the grade found below.</div>

        <table class="table table-sm table-bordered table-hover text-center mt-3">
            <tr class="text-center">
                <th>Previous Grade</th>
                <td>TEST OLD GRADE</td>
                <th>New Grade</th>
                <td>TEST NEW GRADE</td>
            </tr>
        </table>
    </div>

    <div class="row text-center mt-5">
        <form method="POST" action="{% url 'pumcon-complete' %}" class="text-center">
        <input name="task_status" id="task_status" value="Pass" type="hidden" class="form-control">
        <input name="task_id" id="task_id" value={{task.id}} type="hidden" class="form-control">
        <button type="submit" class="btn btn-success btn-lg my-2" style="width:300px">Confirm Grade Confirmation</button>
        </form>
    </div>  

</div>  

</div>



{% endblock %}