{% extends 'base.html' %}

{% block content %}

<h1 class="display-5 text-center mb-5">EAR Task - Apportion Bot Correction</h1>

<div class="container">
    <div class="row text-center">
        <a class="btn btn-secondary btn-lg my-2" href='/enquiries/task_manager/my_tasks'>Back to My Tasks</a>
    </div>
    <div class="row text-center my-3">
        <h5>Task Summary</h5>
        <table class="table table-sm table-bordered table-hover text-center">
            <tr class="text-center">
                <th>Task ID</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr class="text-center">
                <th>Enquiry ID</th>
                <td><a href='/enquiries/enquiries_detail/{{ task.enquiry_id.enquiry_id }}'>{{ task.enquiry_id.enquiry_id }}</a></td>
            </tr>
            <tr class="text-center">
                <th>Script ID</th>
                <td>{{ task.ec_sid.ec_sid }}</td>
            </tr>
            <tr class="text-center">
                <th>Service Code</th>
                <td>{{ task.ec_sid.erp_sid.service_code }}</td>
            </tr>
            <tr class="text-center">
                <th>Centre ID</th>
                <td>{{ task.ec_sid.erp_sid.eps_centre_id }}</td>
            </tr>
            <tr class="text-center">
                <th>Syllabus/Component</th>
                <td>{{ task.ec_sid.eps_ass_code }}/{{ task.ec_sid.eps_com_id }}</td>
            </tr>
            <tr class="text-center">
                <th>Session Name</th>
                <td>{{ task.ec_sid.eps_ses_name }}</td>
            </tr>
        </table>
        <h5>Task Instruction</h5>
        <div>Please correct this bot error in EPS</div>
        <table class="table table-sm table-bordered table-hover text-center">
            <tr class="text-center">
                <th>Batch ID</th>
                <td>{% for y in task.ec_sid.script_id.all %}
                        {{ y.eb_sid.eb_sid }}
                    {% endfor %}
                </td>
            </tr>
            <tr class="text-center">
                <th>Examiner Name</th>
                <td>{% for y in task.ec_sid.apportion_script.all %}
                    {% if y.apportionment_invalidated == 0 %}
                    {{ y.enpe_sid.per_sid.exm_title }} {{ y.enpe_sid.per_sid.exm_initials }} ({{ y.enpe_sid.per_sid.exm_forename }}) {{ y.enpe_sid.per_sid.exm_surname }}
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </table>

        <h5 class="my-3">Error Reason</h5>
        <div>
            {% for y in task.task_manager_task.all %}
                {{ y.failure_reason }}
            {% endfor %}
        </div>
    </div>
    <div class="row text-center m-5">
        <div class="col-lg-3 align-self-center"></div>
        <div class="col-lg-6 align-self-center">
            <form method="POST" action="{% url 'botapf-complete' %}" class="text-center">
                <input name="script_id" id="script_id" value={{task.ec_sid.ec_sid}} type="hidden" class="form-control">
                <input name="task_id" id="task_id" value={{task.id}} type="hidden" class="form-control">
                <input name="enquiry_id" id="enquiry_id" value={{task.enquiry_id.enquiry_id}} type="hidden" class="form-control">
                <button type="submit" class="btn btn-success btn-lg my-4" style="width:300px">Complete Task</button>
            </form>
        </div>
        <div class="col-lg-3 align-self-center"></div>
        </div>  

</div>



{% endblock %}