{% extends 'base.html' %}

{% block content %}

<h1 class="display-5 text-center mb-3">EAR - Examiner Details - {{ uc.exm_creditor_no }}</h1>



<div class="container">
    <div class="row text-center">
        <a class="btn btn-secondary btn-lg my-2" href='/enquiries/examiner_list'>Back to Examiner Overview</a>
    </div>
    <div class="col-md-auto">
        <div class="row text-center my-3">
            <h5>Examiner Summary</h5>
            <table class="table table-sm table-bordered table-hover text-center">
                <tr class="text-center">
                    <th>Examiner Name</th>
                    <td>{{ uc.exm_title }} {{ uc.exm_initials }} ({{ uc.exm_forename }}) {{ uc.exm_surname }}</td>
                </tr>
                <tr class="text-center">
                    <th>Examiner Email</th>
                    <td>{{ exm_email|upper }}</td>
                </tr>
                <tr class="text-center">
                    <th>Creditor No.</th>
                    <td>{{ uc.exm_creditor_no }}</td>
                </tr>
            </table>
        </div>
        <div class="row text-center mb-1">
            <h5>Examiner Panel Summary</h5>
            <table class="table table-sm table-bordered table-hover">
                <tr class="text-center">
                    <th>Panel Syll/Comp</th>
                    <th>Panel ID</th>
                    <th>Panel Name</th>
                    <th>Original Panel Size</th>
                    <th>Examiner No.</th>
                </tr>
                {% for x in exm2 %}
                <tr class="text-center">
                    <td>{{ x.ass_code }}/{{ x.com_id }}</td>
                    <td>{{ x.sp_sid }}</td>
                    <td>{{ x.sp_name }}</td>
                    <td>{{ x.panel_size }}</td>
                    <td>{{ x.exm_examiner_no }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="row text-center">
            <a class="btn btn-primary btn-lg" href='/enquiries/examiner_scripts/{{ uc.per_sid }}'>View Scripts</a>
        </div>

        <div class="row text-center mt-5">
            <h5>Examiner Notes</h5>
            <table class="table table-sm table-bordered table-hover">
                <tr class="text-center">
                    <th>Note</th>
                    <th>Created At</th>
                    <th>Created By</th>
                    <th>Remove</th>
                </tr>
                {% for a in uc.exm_notes.all %}
                <tr class="text-center">
                    <td class="align-middle" style="word-break: break-word;">{{ a.examiner_notes }}</td>
                    <td class="align-middle">{{ a.note_created|date:"d/m/y H:i" }}</td>
                    <td class="align-middle">{{ a.note_owner }}</td>
                    <td class="align-middle">
                        <form method="POST" action="{% url 'exm-notes-delete' note_id=a.id %}" class="text-center">
                            <button type="submit" class="btn btn-outline-danger text-center">Remove</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row text-center">
            <a class="btn btn-primary btn-lg my-1" href='/enquiries/examiner_notes/{{ uc.per_sid }}'>Add Note</a>
        </div>

        <div class="row text-center my-4">
            <h5>Examiner Availability Summary</h5>
            <table class="table table-sm table-bordered table-hover">
                <tr class="text-center">
                    <th>Unavailability Start Date</th>
                    <th>Unavailability End Date</th>
                    <th>Service 2 and 2S Flag</th>
                    <th>Service 5 Flag</th>
                    <th>Service 9 Flag</th>
                    <th>Remove</th>
                </tr>
                {% for a in uc.exm_availability.all %}
                <tr class="text-center">
                    <td>{{ a.unavailability_start_date }}</td>
                    <td>{{ a.unavailability_end_date }}</td>
                    <td>{{ a.unavailable_2_flag }}</td>
                    <td>{{ a.unavailable_5_flag }}</td>
                    <td>{{ a.unavailable_9_flag }}</td>
                    <td class="align-middle">
                        <form method="POST" action="{% url 'exm-avail-delete' note_id=a.id %}" class="text-center">
                            <button type="submit" class="btn btn-outline-danger text-center">Remove</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row text-center">
            <a class="btn btn-primary btn-lg mb-5" href='/enquiries/examiner_availability/{{ uc.per_sid }}'>Update Availability</a>
        </div>

        <div class="row text-center">
            <h5>Examiner Conflicts of Interest</h5>
            <table class="table table-sm table-bordered table-hover">
                <tr class="text-center">
                    <th>Conflicts</th>
                    <th>Last Modified</th>
                    <th>Created By</th>
                    <th>Remove</th>
                </tr>
                {% for a in uc.exm_conflicts.all %}
                <tr class="text-center">
                    <td class="align-middle" style="word-break: break-word;">{{ a.examiner_conflicts }}</td>
                    <td class="align-middle">{{ a.note_modified|date:"d/m/y H:i" }}</td>
                    <td class="align-middle">{{ a.note_owner }}</td>
                    <td class="align-middle">
                        <form method="POST" action="{% url 'exm-conflicts-delete' note_id=a.id %}" class="text-center">
                            <button type="submit" class="btn btn-outline-danger text-center">Remove</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row text-center">
            <a class="btn btn-primary btn-lg my-1" href='/enquiries/examiner_conflicts/{{ uc.per_sid }}'>Add and Update Conflicts</a>
        </div>
        <div class="row text-center">
            <a class="btn btn-primary btn-lg mt-1 mb-5" href='/enquiries/examiner_email_update/{{ uc.per_sid }}'>Update Email Address</a>
        </div>
    </div>
</div>



{% endblock %}
