{% extends 'base.html' %}

{% block content %}

<h1 class="display-5 text-center mb-5">EAR Task - MIS vs RM</h1>

<div class="container">
    <div class="row text-center">
        <a class="btn btn-secondary btn-lg my-2" href='/enquiries/task_manager/my_tasks'>Back to My Tasks</a>
    </div>
    <div class="row text-center my-3">
        <h5>Task Summary</h5>
        <table class="table table-sm table-bordered table-hover text-center">
            <tr class="text-center">
                <th>Task ID</th>
                <td>{{ task.id }}</td>
                <th>Centre Number</th>
                <td>{{ task.ec_sid.erp_sid.eps_centre_id }}</td>
            </tr>
            <tr class="text-center">
                <th>Enquiry ID</th>
                <td><a href='/enquiries/enquiries_detail/{{ task.enquiry_id.enquiry_id }}'>{{ task.enquiry_id.enquiry_id }}</a></td>
                <th>Candidate Number</th>
                <td>{{ task.ec_sid.erp_sid.eps_cand_id }}</td>
            </tr>
            <tr class="text-center">
                <th>Script ID</th>
                <td>{{ task.ec_sid.ec_sid }}</td>
                <th>Syllabus</th>
                <td>{{ task.ec_sid.eps_ass_code }}</td>
            </tr>
            <tr class="text-center">
                <th>Batch ID</th>
                <td>{% for bat in task.ec_sid.script_id.all %}{{ bat.eb_sid.eb_sid }}{% endfor %}</td>
                <th>Component</th>
                <td>{{ task.ec_sid.eps_com_id }}</td>
            </tr>
            <tr class="text-center">
                <th>Original Examiner</th>
                <td>{% for mis in task.ec_sid.script_mis.all %}{{ mis.original_exm }}{% endfor %}</td>
                <th>Remark Examiner</th>
                <td>{% for mis in task.ec_sid.script_mis.all %}{{ mis.rev_exm }}{% endfor %}</td>
            </tr>
            <tr class="text-center">
                <th>Original Mark</th>
                <td>{% for mis in task.ec_sid.script_mis.all %}{{ mis.original_mark }}{% endfor %}</td>
                <th>Revised Mark</th>
                <td>{% for mis in task.ec_sid.script_mis.all %}{{ mis.revised_mark }}{% endfor %}</td>
            </tr>
            <tr class="text-center">
                <th></th>
                <td></td>
                <th>Mark Status</th>
                <td>{% for mis in task.ec_sid.script_mis.all %}{{ mis.mark_status }}{% endfor %}</td>
            </tr>
            <tr class="text-center">
                <th></th>
                <td></td>                
                <th>Justification Code</th>
                <td>{% for mis in task.ec_sid.script_mis.all %}{{ mis.justification_code }}{% endfor %}</td>
            </tr>
        </table>
        <h5>Task Instruction</h5>
        <div>Please check the data returned on the MIS above for this script against the values in RM</div>
    </div>

    {% if issue_reason %}<h2 class="text-center text-primary">ISSUE REASON: {{issue_reason}}</h2>{% endif %}

    <div class="row text-center mt-5">
        <form method="POST" action="{% url 'misvrm-complete' %}" class="text-center">
        <input name="script_id" id="script_id" value={{task.ec_sid.ec_sid}} type="hidden" class="form-control">
        <input name="task_id" id="task_id" value={{task.id}} type="hidden" class="form-control">
        <input name="enquiry_id" id="enquiry_id" value={{task.enquiry_id.enquiry_id}} type="hidden" class="form-control">
        <button type="submit" class="btn btn-success btn-lg my-2" style="width:300px">Confirm Current MIS</button>
        </form>
    </div>  

    <div class="row text-center m-5">
    <div class="col-lg-3 align-self-center"></div>
    <div class="col-lg-6 align-self-center">
        <form method="POST" action="{% url 'misvrm-complete' %}" class="text-center">
        <input name="script_id" id="script_id" value={{task.ec_sid.ec_sid}} type="hidden" class="form-control">
        <input name="task_id" id="task_id" value={{task.id}} type="hidden" class="form-control">
        <input name="enquiry_id" id="enquiry_id" value={{task.enquiry_id.enquiry_id}} type="hidden" class="form-control">
        <label class="form-label">If different, enter a new Mark, Justification Code and Status below. This should be confirmed with the examiner before continuing.</label>

        <div class="row">
            <div class="col">
                <label class="form-label text-end">New Mark</label>
            </div>
            <div class="col">
                <input name="new_mark" id="new_mark" type="number" class="form-control text-center" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label">New Justification Code</label>
            </div>
            <div class="col">
                <input name="new_jc" id="new_jc" type="text" class="form-control text-center" required> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label">New Status</label>
            </div>
            <div class="col">
                <select name="new_status" id="new_status" type="number" class="form-select text-center" required>
                    <option selected></option>
                    <option value="Confirmed">Confirmed</option>
                    <option value="Changed">Changed</option>
                </select>   
            </div>
        </div>
        
        
        



            <button type="submit" class="btn btn-danger btn-lg my-4" style="width:300px">Update MIS</button>
        </form>
    </div>
    <div class="col-lg-3 align-self-center"></div>
    </div>  

</div>



{% endblock %}