{% extends 'base.html' %}

{% block content %}
{% load static %}

<h3 class="mt-3 mx-4 my-1">Server Options</h3>

<div class="row mx-2">

  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <img class="card-img-top" src="{% static 'admin/img/mytask-icon.png' %}" alt="EAR Icon">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Server Settings</h5>
      <p class="card-text">Setup for reloading server such as scenario ID and enquiry list.</p>
      <a href="{% url 'server_settings' %}" class="mt-auto btn btn-outline-primary">Go to Settings</a>
    </div>
  </div>

  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <img class="card-img-top" src="{% static 'admin/img/mytask-icon.png' %}" alt="EAR Icon">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Server Short Reset</h5>
      <p class="card-text">Resets tasks for server without updating data.</p>
      <a href="{% url 'server_short_reset' %}" class="mt-auto btn btn-outline-danger">Short Reset</a>
    </div>
  </div>
  
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <img class="card-img-top" src="{% static 'admin/img/mytask-icon.png' %}" alt="EAR Icon">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Server Long Reset</h5>
      <p class="card-text">Reset all server data using settings provided.</p>
      <a href="{% url 'server_long_reset' %}" class="mt-auto btn btn-outline-danger">Long Reset</a>
    </div>
  </div>

</div>

{% endblock %}
