{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function preventBack() {
            window.history.forward(); 
        }
          
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };
    </script>
    <title>Nova</title>
    <link rel="icon" type="image/x-icon" href="{% static 'admin/img/favicon.ico' %}">
</head>
<body style="background-color:#ffffff;" onload="javascript:setTimeout(function(){ location.reload(); },15000);">
    {% include 'base_navbar.html' %}



<div class="row mx-2 justify-content-between align-items-end">
  <div class="col-4">
    <h3 class="mt-3 mx-4 my-1">My Tasks</h3>
  </div>

  <div class="col-4">
    <h2 class="display-3 mt-3 mx-4 my-1" style="color: rgb(150, 0, 0);">{{ session_desc }}</h2>
  </div>
</div>

<div class="row mx-2">

  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <img class="card-img-top" src="{% static 'admin/img/search-icon.png' %}" alt="Search Icon">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Enquiry Search</h5>
      <p class="card-text">Search for specific enquiry numbers.</p>
      <form class="row g-3  d-grid" method="POST" action='/enquiries/enquiries_detail_search'>
        <div class="col-auto">
          <input name="enquiry_id" id="enquiry_id" type="text" class="form-control" placeholder="Enquiry No.">
        </div>
        <button type="submit" class="btn btn-outline-primary">Search</button>
      </form>
    </div>
  </div>

  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <img class="card-img-top" src="{% static 'admin/img/mytask-icon.png' %}" alt="EAR Icon">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">My Tasks</h5>
      {% if mytask.count > 0 %}<span class="badge rounded-pill bg-primary">{{ mytask.count }} Tasks Assigned To Me</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      <p class="card-text">A list of tasks currently assigned to me.</p>
      <a href="{% url 'my_tasks' %}" class="mt-auto btn btn-outline-primary">Go to My Tasks</a>
    </div>
  </div>
  

</div>

<h3 class="mx-4 my-1">Batch Tasks</h3>

<div class="row mx-2">

  
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <img class="card-img-top" src="{% static 'admin/img/exm-avail-icon.png' %}" alt="Examiner availability Icon">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Panel Details</h5>
      <span class="badge rounded-pill bg-success"></span>
      <p class="card-text">Add and change details for panels.</p>
      <a href="{% url 'panel_list' %}" class="mt-auto btn btn-outline-primary">Go to Panels</a>
    </div>
  </div>


  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <img class="card-img-top" src="{% static 'admin/img/exm-avail-icon.png' %}" alt="Examiner availability Icon">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Examiner Details</h5>
      <span class="badge rounded-pill bg-success"></span>
      <p class="card-text">Add and change the availability windows for examiners.</p>
      <a href="{% url 'examiner_list' %}" class="mt-auto btn btn-outline-primary">Go to Examiners</a>
    </div>
  </div>

  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <img class="card-img-top" src="{% static 'admin/img/iec-icon.png' %}" alt="IEC Icon">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Initial Enquiry Checks</h5>
      {% if cer.count > 0 %}<span class="badge rounded-pill bg-primary">{{ cer.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      <p class="card-text">Checks on new enquiries to confirm availability to proceed to apportionment.</p>
      <a href="{% url 'enquiries_list' %}" class="mt-auto btn btn-outline-primary">Go to IECs</a>
    </div>
  </div>

  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <img class="card-img-top" src="{% static 'admin/img/iec-icon.png' %}" alt="EAR Icon">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">ESM CSV Download</h5>
      {% if esmcsv.count > 0 %}<span class="badge rounded-pill bg-primary">{{ esmcsv.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      <p class="card-text">Download for examiner access to RM</p>
      <a href="{% url 'esmcsv_list' %}" class="mt-auto btn btn-outline-primary">ESM Downloads</a>
    </div>
  </div>

  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <img class="card-img-top" src="{% static 'admin/img/iec-icon.png' %}" alt="EAR Icon">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Grade Release</h5>
      {% if grdrel.count > 0 %}<span class="badge rounded-pill bg-primary">{{ grdrel.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      <p class="card-text">Release calculated grades after marks keying</p>
      <a href="{% url 'grdrel_create' %}" class="mt-auto btn btn-outline-primary">Release Grades</a>
    </div>
  </div>
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <img class="card-img-top" src="{% static 'admin/img/iec-icon.png' %}" alt="EAR Icon">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Grade Confirmations</h5>
      {% if grdcon.count > 0 %}<span class="badge rounded-pill bg-primary">{{ grdcon.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      <p class="card-text">Mark confirmed grades as complete after updating EPS</p>
      <a href="{% url 'grdcon-complete' %}" class="mt-auto btn btn-outline-primary">Confirm Grades</a>
    </div>
  </div>
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <img class="card-img-top" src="{% static 'admin/img/iec-icon.png' %}" alt="EAR Icon">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Letters Printing</h5>
      {% if outcon.count > 0 %}<span class="badge rounded-pill bg-primary">{{ outcon.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      <p class="card-text">Confirm letters printing has taken place for outstanding letters.</p>
      <a href="{% url 'outcon_create' %}" class="mt-auto btn btn-outline-primary">Confirm Printing</a>
    </div>
  </div>
  </div>


</div>



<h3 class="mx-4 my-1">Listed Tasks</h3>

<div class="row mx-2">

  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">BIE Tasks</h5>
      {% if bie.count > 0 %}<span class="badge rounded-pill bg-primary">{{ bie.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      {% if biea.count > 0 %}<span class="badge rounded-pill bg-secondary mt-1">{{ biea.count }} Tasks Assigned</span>{% else %}<span class="badge rounded-pill bg-success mt-1">No Tasks Assigned</span>{% endif %}
      <p class="card-text">Convert WebApp cancellations to EPS BIE status</p>
      <a href="{% url 'enquiries_setbie_list' %}" class="mt-auto btn btn-outline-primary">Go to BIE Tasks</a>
    </div>
  </div>
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Clerical Checks</h5>
      {% if cleric.count > 0 %}<span class="badge rounded-pill bg-primary">{{ cleric.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      {% if clerica.count > 0 %}<span class="badge rounded-pill bg-secondary mt-1">{{ clerica.count }} Tasks Assigned</span>{% else %}<span class="badge rounded-pill bg-success mt-1">No Tasks Assigned</span>{% endif %}
      <p class="card-text">Service 1 and 1s clerical check on script marks.</p>
      <a href="{% url 'cleric_list' %}" class="mt-auto btn btn-outline-primary">Go to Checks</a>
    </div>
  </div>
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Previous Examiner Checks</h5>
      {% if pexmch.count > 0 %}<span class="badge rounded-pill bg-primary">{{ pexmch.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      {% if pexmcha.count > 0 %}<span class="badge rounded-pill bg-secondary mt-1">{{ pexmcha.count }} Tasks Assigned</span>{% else %}<span class="badge rounded-pill bg-success mt-1">No Tasks Assigned</span>{% endif %}
      <p class="card-text">Checks on previous examiners when a GR or TL Adjustment has taken place.</p>
      <a href="{% url 'pexmch_list' %}" class="mt-auto btn btn-outline-primary">Go to Checks</a>
    </div>
  </div>
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Manual Apportionment</h5>
      {% if manapp.count > 0 %}<span class="badge rounded-pill bg-primary">{{ manapp.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      {% if manappa.count > 0 %}<span class="badge rounded-pill bg-secondary mt-1">{{ manappa.count }} Tasks Assigned</span>{% else %}<span class="badge rounded-pill bg-success mt-1">No Tasks Assigned</span>{% endif %}
      <p class="card-text">Scripts awaiting manual apportionment.</p>
      <a href="{% url 'manapp_list' %}" class="mt-auto btn btn-outline-primary">Go to Apportionment</a>
    </div>
  </div>
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Non-RM Scripts</h5>
      {% if nrmacc.count > 0 %}<span class="badge rounded-pill bg-primary">{{ nrmacc.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      {% if nrmacca.count > 0 %}<span class="badge rounded-pill bg-secondary mt-1">{{ nrmacca.count }} Tasks Assigned</span>{% else %}<span class="badge rounded-pill bg-success mt-1">No Tasks Assigned</span>{% endif %}
      <p class="card-text">Scripts awaiting manual apportionment.</p>
      <a href="{% url 'nrmacc_list' %}" class="mt-auto btn btn-outline-primary">Go to Scripts</a>
    </div>
  </div>  
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">MIS RM Checks</h5>
      {% if misvrm.count > 0 %}<span class="badge rounded-pill bg-primary">{{ misvrm.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      {% if misvrma.count > 0 %}<span class="badge rounded-pill bg-secondary mt-1">{{ misvrma.count }} Tasks Assigned</span>{% else %}<span class="badge rounded-pill bg-success mt-1">No Tasks Assigned</span>{% endif %}
      <p class="card-text">Checks between returned MIS forms and RM.</p>
      <a href="{% url 'misvrm_list' %}" class="mt-auto btn btn-outline-primary">Go to Checks</a>
    </div>
  </div>
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Examiner SLA Breaches</h5>
      {% if exmsla.count > 0 %}<span class="badge rounded-pill bg-primary">{{ exmsla.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      {% if exmslaa.count > 0 %}<span class="badge rounded-pill bg-secondary mt-1">{{ exmslaa.count }} Tasks Assigned</span>{% else %}<span class="badge rounded-pill bg-success mt-1">No Tasks Assigned</span>{% endif %}
      <p class="card-text">Checks on examiner breaches leading to extension or reapportionment.</p>
      <a href="{% url 'exmsla_list' %}" class="mt-auto btn btn-outline-primary">Go to Breaches</a>
    </div>
  </div>
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">SLA Breach Reapportionment</h5>
      {% if remapp.count > 0 %}<span class="badge rounded-pill bg-primary">{{ remapp.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      {% if remappa.count > 0 %}<span class="badge rounded-pill bg-secondary mt-1">{{ remappa.count }} Tasks Assigned</span>{% else %}<span class="badge rounded-pill bg-success mt-1">No Tasks Assigned</span>{% endif %}
      <p class="card-text">Reapportionment when an examiner SLA is breached.</p>
      <a href="{% url 'remapp_list' %}" class="mt-auto btn btn-outline-primary">Go to Breaches</a>
    </div>
  </div>
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">EPS Reapportionment</h5>
      {% if remapf.count > 0 %}<span class="badge rounded-pill bg-primary">{{ remapf.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      {% if remapfa.count > 0 %}<span class="badge rounded-pill bg-secondary mt-1">{{ remapfa.count }} Tasks Assigned</span>{% else %}<span class="badge rounded-pill bg-success mt-1">No Tasks Assigned</span>{% endif %}
      <p class="card-text">Reapportionment when an examiner SLA is breached.</p>
      <a href="{% url 'remapf_list' %}" class="mt-auto btn btn-outline-primary">Go to Apportionment</a>
    </div>
  </div>

  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Immediate Rejections Checks</h5>
      {% if negcon.count > 0 %}<span class="badge rounded-pill bg-primary">{{ negcon.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      {% if negcona.count > 0 %}<span class="badge rounded-pill bg-secondary mt-1">{{ negcona.count }} Tasks Assigned</span>{% else %}<span class="badge rounded-pill bg-success mt-1">No Tasks Assigned</span>{% endif %}
      <p class="card-text">Confirm a negative has not occured.</p>
      <a href="{% url 'negcon_list' %}" class="mt-auto btn btn-outline-primary">Go to Checks</a>
    </div>
  </div>
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Principle Examiner Approval</h5>
      {% if peacon.count > 0 %}<span class="badge rounded-pill bg-primary">{{ peacon.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      {% if peacona.count > 0 %}<span class="badge rounded-pill bg-secondary mt-1">{{ peacona.count }} Tasks Assigned</span>{% else %}<span class="badge rounded-pill bg-success mt-1">No Tasks Assigned</span>{% endif %}
      <p class="card-text">Confirm grade change with principle examiner.</p>
      <a href="{% url 'peacon_list' %}" class="mt-auto btn btn-outline-primary">Go to Approvals</a>
    </div>
  </div>
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Product Owner Approvals</h5>
      {% if pdacon.count > 0 %}<span class="badge rounded-pill bg-primary">{{ pdacon.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      {% if pdacona.count > 0 %}<span class="badge rounded-pill bg-secondary mt-1">{{ pdacona.count }} Tasks Assigned</span>{% else %}<span class="badge rounded-pill bg-success mt-1">No Tasks Assigned</span>{% endif %}
      <p class="card-text">Confirm grade change with product owner.</p>
      <a href="{% url 'pdacon_list' %}" class="mt-auto btn btn-outline-primary">Go to Approvals</a>
    </div>
  </div>
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Grade Changes</h5>
      {% if grdchg.count > 0 %}<span class="badge rounded-pill bg-primary">{{ grdchg.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      {% if grdchga.count > 0 %}<span class="badge rounded-pill bg-secondary mt-1">{{ grdchga.count }} Tasks Assigned</span>{% else %}<span class="badge rounded-pill bg-success mt-1">No Tasks Assigned</span>{% endif %}
      <p class="card-text">Action a grade change.</p>
      <a href="{% url 'grdchg_list' %}" class="mt-auto btn btn-outline-primary">Go to Changes</a>
    </div>
  </div>
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Grade Rejections</h5>
      {% if grdrej.count > 0 %}<span class="badge rounded-pill bg-primary">{{ grdrej.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      {% if grdreja.count > 0 %}<span class="badge rounded-pill bg-secondary mt-1">{{ grdreja.count }} Tasks Assigned</span>{% else %}<span class="badge rounded-pill bg-success mt-1">No Tasks Assigned</span>{% endif %}
      <p class="card-text">Finalise grade rejections.</p>
      <a href="{% url 'grdrej_list' %}" class="mt-auto btn btn-outline-primary">Go to Rejections</a>
    </div>
  </div>
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Mark Amendments</h5>
      {% if mrkamd.count > 0 %}<span class="badge rounded-pill bg-primary">{{ mrkamd.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      {% if mrkamda.count > 0 %}<span class="badge rounded-pill bg-secondary mt-1">{{ mrkamda.count }} Tasks Assigned</span>{% else %}<span class="badge rounded-pill bg-success mt-1">No Tasks Assigned</span>{% endif %}
      <p class="card-text">Finalise mark amendments for rejected grades.</p>
      <a href="{% url 'mrkamd_list' %}" class="mt-auto btn btn-outline-primary">Go to Amendments</a>
    </div>
  </div>
  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">PUM Checks</h5>
      {% if pumcon.count > 0 %}<span class="badge rounded-pill bg-primary">{{ pumcon.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      {% if pumcona.count > 0 %}<span class="badge rounded-pill bg-secondary mt-1">{{ pumcona.count }} Tasks Assigned</span>{% else %}<span class="badge rounded-pill bg-success mt-1">No Tasks Assigned</span>{% endif %}
      <p class="card-text">Confirm PUMs checks are complete.</p>
      <a href="{% url 'exmsla_list' %}" class="mt-auto btn btn-outline-primary">Go to Checks</a>
    </div>
  </div>
</div>



<h3 class="mx-4 my-1">RPA Tasks</h3>

<div class="row mx-2">

    <div class="card m-3 shadow-lg" style="width: 18rem; ">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">RPA Apportionment</h5>
          {% if botapp.count > 0 %}<span class="badge rounded-pill bg-primary">{{ botapp.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
          <p class="card-text">Tasks awaiting an RPA processing run for apportionment.</p>
          <a href="{% url 'rpa_apportionment' %}" class="mt-auto btn btn-outline-primary">Go to Checks</a>
        </div>
      </div>
  
    <div class="card m-3 shadow-lg" style="width: 18rem; ">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">RPA Apportion Failures</h5>
        {% if botapf.count > 0 %}<span class="badge rounded-pill bg-primary">{{ botapf.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
        <p class="card-text">Tasks awaiting completion after a bot failed to process an apportionment.</p>
        <a href="{% url 'rpa_apportionment_failure' %}" class="mt-auto btn btn-outline-primary">Go to Checks</a>
      </div>
    </div>

    <div class="card m-3 shadow-lg" style="width: 18rem; ">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">RPA Marks Keying</h5>
        {% if botmar.count > 0 %}<span class="badge rounded-pill bg-primary">{{ botmar.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
        <p class="card-text">Tasks awaiting an RPA processing run for marks keying.</p>
        <a href="{% url 'rpa_marks_keying' %}" class="mt-auto btn btn-outline-primary">Go to Checks</a>
      </div>
    </div>

  <div class="card m-3 shadow-lg" style="width: 18rem; ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">RPA Marks Keying Failures</h5>
      {% if botmaf.count > 0 %}<span class="badge rounded-pill bg-primary">{{ botmaf.count }} Tasks Waiting</span>{% else %}<span class="badge rounded-pill bg-success">All Tasks Completed</span>{% endif %}
      <p class="card-text">Tasks awaiting completion after a bot failed to process a mark keying.</p>
      <a href="{% url 'rpa_marks_keying_failure' %}" class="mt-auto btn btn-outline-primary">Go to Checks</a>
    </div>
  </div>
</div>


</body>
</html>