{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="card m-5 shadow-lg" style="width: 18rem; ">
    <img class="card-img-top" src="{% static 'admin/img/ear-icon.png' %}" alt="EAR Icon">
    <div class="card-body">
      <h5 class="card-title">Enquires About Results</h5>
      <h6 class="card-subtitle mb-2 text-muted">Results</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="{% url 'enquiries_home' %}" class="btn btn-primary">Go to EARs</a>
    </div>
  </div>


{% endblock %}

