{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function preventBack() {
            window.history.forward(); 
        }
          
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };
    </script>
    <title>Nova</title>
    <link rel="icon" type="image/x-icon" href="{% static 'admin/img/favicon.ico' %}">
</head>
<body style="background-color:#ffffff;" onload="javascript:setTimeout(function(){ location.reload(); },15000);">
{% include 'base_navbar.html' %}


<h1 class="display-5 text-center mb-5">EAR - My Tasks</h1>

{% if tasks.count == 0 %}

<div class="text-center m-5">
<img class="rounded mx-auto d-block " src="{% static 'admin/img/empty-icon.png' %}" alt="Empty Icon">
</div>

<h5 class="display-5 text-center m-5">You currently have no tasks assigned</h5>

{% else %}

<div class="row ms-5">
{% for t in tasks %}

<div class="card m-3" style="width: 18rem; ">
    <div class="card-body">
        <h5 class="card-title">{{t.task_id.task_id}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Enquiry: {{t.enquiry_id.enquiry_id}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Script: {{t.ec_sid.ec_sid}}</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <form method="POST" action="{% url 'task-router' %}">
            <input name="task_type" id="task_type" value='{{t.task_id.task_id}}' type="hidden" class="form-control">
            <input name="task_id" id="task_id" value={{t.id}} type="hidden" class="form-control">
            <button type="submit" class="btn btn-primary">Go to Task</button>
        </form>
    </div>
</div>

{% endfor %}
</div>

{% endif %}

<div class="row text-center m-5">
    {% if tasks.count > 9 %}
        <form method="POST" action="{% url 'new-task' %}">
            <input name="page_source" id="page_source" value="my_tasks" type="hidden" class="form-control" placeholder="Enquiry No.">
            <button disabled type="submit" title="New Task" class="btn btn-outline-secondary btn-lg my-2" style="width:500px">Too many tasks</button>
        </form>
    {% elif task_count == 0 %}
    <form method="POST" action="{% url 'new-task' %}">
        <input name="page_source" id="page_source" value="my_tasks" type="hidden" class="form-control" placeholder="Enquiry No.">
        <button disabled type="submit" title="New Task" class="btn btn-outline-secondary btn-lg my-2" style="width:500px">No tasks in queue</button>
    </form>
    {% else %}
        <form method="POST" action="{% url 'new-task' %}">
            <input name="page_source" id="page_source" value="my_tasks" type="hidden" class="form-control" placeholder="Enquiry No.">
            <button type="submit" title="New Task" class="btn btn-primary btn-lg my-2" style="width:500px">Get new task</button>
        </form>
    {% endif %}
</div>